runs/*

video/*

training/api_key
training/data
training/runs
training/model_keypoints.pth

training/tennis-ball-detection-6/README.roboflow.txt
training/tennis-ball-detection-6/README.dataset.txt
training/tennis-ball-detection-6/tennis-ball-detection-6/test
training/tennis-ball-detection-6/tennis-ball-detection-6/train
training/tennis-ball-detection-6/tennis-ball-detection-6/valid

runs/*

yolov8l.pt

models/model_keypoints.pth

output_videos

court_keypoints/__pycache__
trackers/__pycache__
utils/__pycache__
constants/__pycache__
mini_court/__pycache__